.content-page {
  width: 90%;
  max-width: 1000px;
  margin: 50px auto;
}

.content-card {
  background: rgba(255,255,255,0.95);
  padding: 40px;
  border-radius: 15px;

  box-shadow: 0 5px 20px rgba(0,0,0,.08);

  h1 {
    color: #003366;
    margin-bottom: 25px;
  }

  p {
    line-height: 1.9;
    color: #444;
    margin-bottom: 20px;
    text-align: justify;
  }

  ul {
    margin: 20px 0;
    padding-left: 25px;

    li {
      margin-bottom: 12px;
      font-size: 17px;
    }
  }
}

@media (max-width: 768px) {
  .content-card {
    padding: 25px;
  }
}